.categories {
    padding-top: 50px;
    padding-bottom: 0px;
}

#categoryCarousel {
    position: relative;
    padding: 20px 0;
}

.category-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    width: 210px;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

.category-card:hover {
    transform: scale(1.05);
}

.category-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.category-title {
    font-weight: 700;
    color: #2c3e50;
}

.carousel-items{
    height: 14vh;
    width: 97vw;
    overflow: hidden;
    overflow-x: scroll;
        /* padding: 0 80px; */
}

@media (max-width: 768px) {
    .category-card {
        width: 140px;
        padding: 10px;
    }

    .category-image {
        width: 80px;
        height: 80px;
    }

    .category-title {
        font-size: 14px;
    }

    .carousel-items {
    padding: 0 20px;
}

.categoriaList {
    padding: 10px;
    width: 250px;
}
}

.categories .carousel-indicators{
    /* background: var(--azul); */
    transform: translateY(30px);
}
.carousel .carousel-indicators li,
.categories .carousel-indicators li{
    background: var(--azulclaro);
    color: var(--azulclaro);
    border-radius: 8px;
}
.categories .carousel-indicators li:active{
    /* background: var(--azulclaro); */
    color: var(--azul);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(44, 62, 80, 0.7);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.categories .carousel-control-prev,
.categories .carousel-control-next {
    width: 40px;
    
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.categories .carousel-control-prev {
    left: 10px;
    color: var(--azul) !important;
}

.categories .carousel-control-next {
    right: 10px;
    color: var(--azul) !important;
}

.cat_products{
    display: flex;
    gap:15px
}

.categoriaList{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 270px;
}

.categoriaList ul{
    list-style: none;
    line-height: 40px;
    padding: 0;
    margin: 0;
}
.categoriaList ul li a{
   color: #333;
   text-decoration: none;
   padding-left: 0px;
   transition: all .3s ease;
}
.categoriaList ul li a:hover{
   color: var(--azul);
   text-decoration: none;
   padding-left: 10px;
}



@media (max-width:768px){
    .categoriaList ul li a {
        font-size: 14px;
    }
}
