/* detectar darkmode */
/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--white);
        color: var(--black);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black);
        color: var(--white);
    }
}
/* detectar darkmode */

.body{
    background: var(--fondopage);
}

.dark-mode {
    background-color: var(--black);
    color: var(--white);
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode i,
.dark-mode p {
    color: var(--white);
}

.dark-mode section{
    background-color: var(--black);
    color: var(--white);
}

.dark-mode .logo{
    display: none;
}
.dark-mode .logodark{
    display: block;
}


.dark-mode header .tope_menu {
    background: var(--black);
}

.dark-mode header .header {
    background: var(--black);
}

.dark-mode .elementostop{
    color: var(--white) ;
    background-color: var(--black); 
}


.dark-mode .sidebar-nav .nav-link {
    background-color: var(--black);
    color: var(--white);
}

.dark-mode .sidebar-nav .nav-link.collapsed i {
    color: var(--white);
}

.dark-mode .header .toggle-sidebar-btn,
.dark-mode .logo span,
.dark-mode .pagetitle,
.dark-mode .footer .copyright,
.dark-mode .pagetitle h1,
.dark-mode .profile-card,
.dark-mode .card-title,
.dark-mode .table,
.dark-mode .header-nav .nav-profile {
    color: var(--white) !important;
}

.dark-mode .table thead {
    background: var(--black) !important;
}

.dark-mode .card,
.dark-mode .acces-icons .icontext {
    background: rgba(0, 0, 0, 0.4);
    color: var(--white) !important;
}

.dark-mode .pagetitle .right {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: var(--white) !important;
}

.dark-mode .acces-icons .icontext i,
.dark-mode .acces-icons .icontext h3 {
    color: var(--white) !important;
}



.dark-mode .dropdown-menu {
    background: rgba(0, 0, 0, 0.9);
}

.dark-mode .dolarvzla {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.dark-mode .instruccioness {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.dark-mode .instruccioness .info {
    background: linear-gradient(to right, var(--black), var(--black), transparent);
}

.dark-mode .header,
.dark-mode .sidebar {
    background: var(--black);
    box-shadow: 0px 2px 20px rgb(255 255 255 / 10%) !important;
}

.dark-mode .shadow {
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15) !important;
}

.sidebar-nav .nav-link {
    background: transparent !important;
}

.dark-mode .nav-tabs-bordered .nav-link.active {
    color: var(--azul);
}

.btns {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns ion-icon {
    font-size: 1.5em;
    color: var(--black);
}

.btns ion-icon:nth-child(2) {
    display: none;
}

.btns .menuToggle ion-icon {
    font-size: 3em;
}

.btns.active ion-icon:nth-child(2) {
    display: block;
}

.btns.active ion-icon:nth-child(1) {
    display: none;
}

body .dark-mode {
    background-color: var(--black);
}


.dark-mode .categoriaList ul li a{
   color: var(--fondopage);
}

.dark-mode .options{
    
    background-color: #222121;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 30px;
}