.bordetop {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    height: 120px;

}

.contenido_footer {
    background-color: var(--azulclaro);
    display: flex;
    padding: 30px;
    align-items: center;
    color: #f2f2f2;
}

.redes {
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    gap: 15px;

}

footer:nth-child(3) {
    color: #f2f2f2;
}

.menu_footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    gap: 60px;
    align-items: flex-start;
    margin-left: 80px;

}

.cuentas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.cuentas ul li {
    padding-bottom: 15px;
    font-size: 14px;

}

.cuentas ul li a {
    text-decoration: none;
    padding-left: 0px;
    transition: all .3s ease;
    color: #f2f2f2;
}

.cuentas ul li a:hover {
    color: var(--azul);
    text-decoration: none;
}

.boletin p,
.direccion p {
    color: #f2f2f2;
}

.boletin h4,
.cuentas h4 {
    color: #f2f2f2;
}

.creditos {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.contact_footer {
    display: flex;
    flex-direction: column;
}


.logos_app {
    display: flex;
    justify-content: start;
    gap: 15px;
}

.boletin {
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
}


.creditos p {
    color: #f2f2f2;
    font-size: 12px;
}

.bordetop .logo {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.bordetop .logo img {
    width: 130px;
    height: auto;
}
.direccion a,
.redes a{
       color: #f2f2f2;
       transform: scale(1);
        transition: all .3s ease;
    }

.redes a:hover{
       color: #f2f2f2;
       transform: scale(1.5);
    }



@media (max-width:768px) {

    .contenido_footer,
    .bordetop,
    .menu_footer {
        flex-direction: column;
    }

    .contenido_footer {
        align-items: start;
    }

    .menu_footer {
        margin-left: 0;
    }

    .redes {
        padding: 20px;
    }

    .bordetop {
        height: auto;
        justify-content: center;

    }

    footer .option_info {
        align-self: center;
    }

    .menu_footer {
        display: block;
        columns: 2;
        column-gap: 5px;
        padding: 0;
    }

    .menu_footer h4{
        font-size: 1.2rem;
    }
    .creditos{
        padding-bottom: 60px;
    }



}