@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './header.css';
@import './options.css';
@import './categories.css';
@import './recomendado.css';
@import './product.css';
@import './comopagar.css';
@import './banner.css';
@import './footer.css';

* { box-sizing: border-box; }
:root{
    
    --azul: #041A52;
    --azulclaro: #29336D;
    --rojo: #D5232D;
    --gris: #F1F1F1;

}
body{
    background: #f5f5f5 !important;
}
p{
    color: #333;
}
h1, h2, h3, h4, h5, h6{
    color: var(--azul);
    font-weight: bold;
}
h5{
    font-size: 18px !important;
}
.text-azul{
    color: var(--azul);
}
.btn-azul{
    background-color: var(--azul);
}

.body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    color: var(--text-color-light);
      background-color: var(--bg-color-light);
      font-size: 16px;
}
 

.logo{
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo img{
   width: 125px;
    height: auto;
}


.marcas{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
}

@media(max-width:768px){
   .logo img{
   width: 90px;
    height: auto;
}

.marcas{
    flex-direction: column;
}

}

