.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.option_info{
    display: flex;
    gap: 5px;

}

.option_info h5,
.option_info p{
    margin: 0;
    padding: 0;

}

.icono{
    width: 67px;
    height: 69px;
}

@media(max-width:768px){
   .options{
    flex-direction: row
    }
}

@media(max-width:576px){
   .options{
    flex-direction: column
    }
}

