.item_product{
    padding: 5px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    width:240px;
    border: 1px solid #ccc;
    border-radius:16px;
    position: relative;
    padding: 20px;
    
}

.discount{
    background-color: var(--rojo);
    border-radius: 80px;
    color: #f2f2f2;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    width: 60px;
    z-index: 9;
    position: relative;
    top: 10px;
}

.imagen_product{
    /* border: 1px solid #cccc; */
}

.imagen_product img{
    display: block;
    width: 100%;
    height: auto;
}

.product_title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}
.prices{
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-bottom: 10px;
}

.price_now{
    font-weight: bold;
    color: #333;
}
.price_old{
    text-decoration: line-through;
    color: #666;
}

.rating{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
}
.votes{
    font-size: 12px;
}
.stars i{
    color: var(--rojo);
    font-size: 12px;
}

.addbutton{
    background: var(--azul);
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid var(--azul);
    transition: all .3s ease;
}

.addbutton:hover{
    background: #f2f2f2;
    color: var(--azul);
    border: 2px solid var(--azul);
}

.list_productsCategories{
   width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

@media (max-width:768px){
    .rating {
        flex-direction: column;
}

.item_product {
    width: 162px;
    padding: 10px;
}

.product_title {
    font-size: 12px;
    padding-bottom: 0;
}
.prices{
    padding-bottom: 0;
        flex-direction: column;
    }

.rating{
    gap: 0px;
}

.discount{
    top: 0px;
    height: 30px;
}

.imagen_product {
    position: relative;
    top: -10px;
}



}