.recomendado{
    padding-top: 60px;
    padding-bottom: 60px;
}

.list_products{
    /* display: flex;
    flex-direction: row; */
    gap: 20px;
    overflow: hidden;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}



@media(max-width:768px){
    .list_products{
        flex-direction: row;
        overflow: hidden;
        overflow-x: scroll;
    }

    .recomendado {
    padding-top: 30px;
    padding-bottom: 30px;
}


}